/* Universal selector */
* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Tag selector */
p {
    color: darkblue;
    font-size: 16px;
}

/* Class selector */
.kotak {
    width: 200px;
    height: 100px;
    background-color: lightgreen;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    border: 2px solid green;
}

.teks {
    color: crimson;
    font-style: italic;
}

/* ID selector */
#judul {
    color: darkred;
    text-align: center;
    margin: 20px;
}
