h1 {
    font-family: Arial;
    color: blue;
    font-size: 36px;
    text-align: center;
}
h2 {
    font-family: Verdana;
    color: green;
    font-size: 28px;
    text-align: left;
}
p {
    font-family: 'Times New Roman';
    color: red;
    font-size: 18px;
    text-align: justify;
}